/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* Cabeçalho */
header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #28a745;
}

/* Seção de Boas-Vindas */
.hero {
    background-color: red;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #444;
}

/* Seção de Recursos */
.features {
    padding: 40px 0;
    background-color: #fff;
}

.features h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
}

.feature-item {
    text-align: center;
    margin-bottom: 30px;
}

.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1.1em;
    color: #666;
}

/* Seção de Desenvolvedores */
.developer {
    background: #fff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.developer img {
    width: 700px;
    border: none;
    height: 400px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}
